{% extends "base.html" %}
{% load static %}
{% block title %}Mount Zion Pentecostal Ministries{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <script src="{% static 'scripts/index.js' %}"></script>
{% endblock links %}

{% block body %}

    <div class="thumbnails">
        <!-- Thumbnails Content -->
        <div class="image-scrolls-container">
            <img id="left-arrow" src="{% static 'src/icons/left-arrow-white.png' %}" alt="Left">
            <div class="image-scrolls">
                <img id="scroll-image" src="{% static 'src/image-scrolls/1.png' %}" alt="images">
            </div>
            <img id="right-arrow" src="{% static 'src/icons/right-arrow-white.png' %}" alt="Right">
        </div>
    </div>
    <br><br>
    <div id="main">
        <!-- Main Content -->

        <div class="latest-messages">
            {% comment %} <h1 style="color: blue;">hello</h1> {% endcomment %}
            <div class="latest-messages-div">
                <div class="latest-messages-head"><h1>Latest Messages 🗨️</h1></div>
                <div class="latest-messages-body">
                    <div class="scrolling-messages">
                        <div class="scrolling-inner">
                            {% for message in messages %}
                                <div class="message-item">
                                    <a style=" text-decoration: none;" href="{{ message.url }}" target="_blank">🗨️ {{ message.name}}</a>
                                </div>
                            {% empty %}
                                <div class="message-item">No messages available.</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
         </div>
        
         <div>
            <img class="main-img" src="{% static 'src/img1.jpg' %}" alt="">
         </div>

         <div class="latest-songs">
            <div class="latest-songs-div">
                <div class="latest-songs-head"><h1>Latest Songs 🎼</h1></div>
                <div class="latest-songs-body">
                    <div class="scrolling-songs">
                        <div class="scrolling-inner">
                            {% for song in songs %}
                                <div class="songs-item">
                                    <a style=" text-decoration: none;" href="{{ song.url }}" target="_blank">🎼 {{ song.name }}</a>
                                </div>
                            {% empty %}
                                <div class="songs-item">No songs available.</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <br><br>
{% endblock body %}
